include README.md
include LICENSE
include YAML_GUIDE.md
recursive-include licenses *.md *.txt LICENSE* *-LICENSE
include ASYNC_GUIDE.md
include COVALENT_COMPLEX_GUIDE.md
include PARAMETERS.md
include INSTALL_TESTPYPI.md
recursive-include boltz2_client *.py
recursive-include examples *.py *.yaml *.a3m
recursive-include tests *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .DS_Store
recursive-exclude dev *
recursive-exclude * *.cif
recursive-exclude * *.log 